/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    color: #000;
}

body {
    padding: 10px;
}

@font-face {
    font-family: Prophecy;
    src: url(../fonts/Prophecy.otf);
}

header {
    position: relative;
}

#title {
    font-family: Prophecy;
    text-align: center;
    font-weight: normal;
    font-size: 36pt;
    width: auto;
}

nav {
    background-color: transparent;
    position: absolute;
    right: 0;
    width: auto;
}

.flags {
    cursor: pointer;
    width: 30px;
    border: none;
    margin-left: 5px;
}

.versiclesS {
    width: 10;
    width: 300px;
    float: right;
    text-align: justify;
    font-style: italic;
    background-color: #FFF;
}

.versiclesA {
    position: relative;
    height: 350px;
}

#versicleP {
    font-size: 12pt;
    padding: 15px 15px 0 15px;
    margin: 0;
}

.buttonsV {
    position: absolute;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
}

.buttonsV img {
    display: initial;
    border: none;
    width: 50px;
}

.activatedB {
    cursor: pointer;
    opacity: 100%;
}

.activatedB:hover {
    -webkit-transition: 235ms;
    -o-transition: 235ms;
    transition: 235ms;
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
}

.disabledB {
    cursor: default;
    opacity: 30%;
}

#time {
    display: unset;
    width: 75px;
    background-color: #fff;
    padding: 5px;
    font-size: 18pt;
}

.groupBtn {
    width: 63%;
    margin-top: 10px;
}

.btnCalc:focus {
    outline: 0;
}

.btnClicked {
    border-color: #0053FF;
}

.resultS {
    position: relative;
    width: 300px;
    height: 260px;
}

.copy {
    position: absolute;
    width: 30px;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
}

.copy:hover {
    -webkit-transition: 235ms;
    -o-transition: 235ms;
    transition: 235ms;
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
}

#resultT {
    padding: 0 0 0 15px;
}

#result {
    padding: 0 15px 15px 15px;
    width: 300px;
    height: 250px;
}

footer {
    margin: 25px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #title {
        text-align: left;
        font-size: 95%;
    }

    nav {
        right: -2vw;
    }

    .flags {
        margin: 0 0 2vw 0;
    }

    #value {
        font-size: 6vw;
    }

    .calcS {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .groupBtn {
        width: 100%;
    }

    .btnCalc {
        margin: 1vw 0 2vw 0;
        font-size: 6vw;
    }

    .resultS {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 5vw;
        position: relative;
        width: 100%;
        height: 82vw;
    }

    .copy {
        position: absolute;
        width: 10vw;
        top: 5vw;
        right: 5vw;
        border: none;
        cursor: pointer;
    }

    #resultT {
        padding: 0 0 0 3vw;
        margin-bottom: -3vw;
        font-size: 7vw;
    }

    #result {
        padding: 0 3vw 0 3vw;
        width: 100%;
        height: 50vw;
        font-size: 6.4vw;
    }

    .break {
        height: 0;
    }

    .versiclesS {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: 100%;
        height: 110vw;
    }

    #versiclesA {
        position: relative;
    }

    #versicleP {
        font-size: 5vw;
    }


    .buttonsV {
        position: absolute;
        bottom: -10vw;
    }

    #nextV {
        width: 15vw;
    }

    #backV {
        width: 15vw;
    }

    footer {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        font-size: 6vw;
    }

    .hiden {
        display: none;
    }

    #tooltip {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        left: 50%;
        bottom: -3vw;
        border-radius: 50px;
        padding: 2vw;
        text-align: center;
        font-size: 5vw;
        color: #fff;
        font-weight: bold;
        position: fixed;
        z-index: 1000;
    }

    .show {
        -webkit-animation: fadein 0.5s;
        animation: fadein 0.5s;
    }

    .hiden2 {
        -webkit-animation: fadeout 0.5s;
        animation: fadeout 0.5s;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}