* {
    color: #000;
}

body {
    padding: 10px;
}

@font-face {
    font-family: Prophecy;
    src: url(../fonts/Prophecy.otf);
}

header {
    position: relative;
}

#title {
    font-family: Prophecy;
    text-align: center;
    font-weight: normal;
    font-size: 36pt;
    width: auto;
}

nav {
    background-color: transparent;
    position: absolute;
    right: 0;
    width: auto;
}

.flags {
    cursor: pointer;
    width: 30px;
    border: none;
    margin-left: 5px;
}

.versiclesS {
    width: 10;
    width: 300px;
    float: right;
    text-align: justify;
    font-style: italic;
    background-color: #FFF;
}

.versiclesA {
    position: relative;
    height: 350px;
}

#versicleP {
    font-size: 12pt;
    padding: 15px 15px 0 15px;
    margin: 0;
}

.buttonsV {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 0);
    left: 50%;
}

.buttonsV img {
    display: initial;
    border: none;
    width: 50px;
}

.activatedB {
    cursor: pointer;
    opacity: 100%;
}

.activatedB:hover {
    transition: 235ms;
    transform: translate3d(0, 2px, 0);
}

.disabledB {
    cursor: default;
    opacity: 30%;
}

#time {
    display: unset;
    width: 75px;
    background-color: #fff;
    padding: 5px;
    font-size: 18pt;
}

.groupBtn {
    width: 63%;
    margin-top: 10px;
}

.btnCalc:focus {
    outline: 0;
}

.btnClicked {
    border-color: #0053FF;
}

#resultT {
    padding: 0 0 0 15px;
}

#result {
    padding: 0 15px 15px 15px;
    width: 300px;
    height: 250px;
}

footer {
    margin: 25px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
    }

    #title {
        text-align: left;
        font-size: 95%;
    }

    nav {
        right: -2vw;
    }

    .flags {
        margin: 0 0 2vw 0;
    }

    .calcS {
        order: 1;
    }

    .groupBtn {
        width: 100%;
    }

    .resultS {
        order: 2;
        margin-bottom: 5vw;
    }

    #resultT {
        padding: 0 0 0 3vw;
        margin-bottom: -3vw;
    }

    #result {
        padding: 0 3vw 0 3vw;
        width: 100%;
        height: 50vw;
    }

    .break {
        height: 0;
    }

    .versiclesS {
        order: 3;
        width: 100%;
        height: 90vw;
    }

    .buttonsV {
        bottom: 7vw;
    }

    footer {
        order: 4;
    }
}