@font-face {
    font-family: Prophecy;
    src: url(../fonts/Prophecy.otf);
}

header {
    font-family: Prophecy;
    height: 50px;
}

#title {
    text-align: center;
}

nav {
    float: right;
}

.flags {
    cursor: pointer;
    width: 30px;
}

#result {
    height: 200px;
}

footer {
    font-family: Prophecy;
    text-align: center;
}