@font-face {
    font-family: Prophecy;
    src: url(../fonts/Prophecy.otf);
}

header {
    font-family: Prophecy;
    height: 50px;
}

#title {
    text-align: center;
}

nav {
    float: right;
}

.flags {
    cursor: pointer;
    width: 30px;
}

#versicle {
    height: 50px;
}

.buttonsV {
    width: 200px;
}

.buttonsV img {
    width: 50px;
}

#backV {
    transform: scaleX(-1);
}

.activatedB {
    cursor: pointer;
    opacity: 100%;
}

.disabledB {
    cursor: default;
    opacity: 30%;
}

#result {
    height: 200px;
}

footer {
    font-family: Prophecy;
    text-align: center;
}