p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Prophecy;
    src: url(../fonts/Prophecy.otf);
}

#title {
    font-family: Prophecy;
    height: 80px;
    text-align: center;
    font-weight: normal;
    font-size: 36pt;
}

nav {
    background-color: none;
    padding: 0;
    position: absolute;
    right: 0;
    width: auto;
}

.flags {
    cursor: pointer;
    width: 30px;
    border: none;
    margin-left: 5px;
}

.versiclesS {
    width: 10;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 130px;
    right: 50px;
    padding: 10px;
    text-align: justify;
    font-style: italic;
    background-color: #FFF;
}

#versicleP {
    padding: 10px;
    font-size: 12pt;
}

.buttonsV {
    position: absolute;
    bottom: -130px;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 106px;

}

.buttonsV img {
    display: initial;
    border: none;
    width: 50px;
}

#backV {
    transform: scaleX(-1);
}

.activatedB {
    cursor: pointer;
    opacity: 100%;
}

.disabledB {
    cursor: default;
    opacity: 30%;
}

#time {
    display: unset;
    width: 75px;
    background-color: #fff;
    padding: 5px;
    font-size: 18pt;
}

.btnCalc:focus {
    outline: 0;
}

.btnClicked {
    border: 2px solid #000;
}

#result {
    padding: 10px;
    margin-top: 10px;
    width: 300px;
    height: 300px;
}

footer {
    margin: 50px;
    text-align: center;
}